@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	left: auto;
	right: auto;
}
#wrapper #graphsimage {
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	height: 355px;
	width: 800px;
	background-image: url(../images/graphs.png);
}

#wrapper {
	background-color: #e6fee6;
	width: auto;
	margin-right: 20px;
	margin-left: 20px;
	height: auto;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #999;
	border-left-color: #999;
	margin-top: 10px;
	margin-bottom: auto;	
	font-family: verdana, times;
}

#wrapper #bodyArea{
    height: auto;
	width: auto;
	margin-right: 20px;
	margin-left: 20px;
}

#wrapper #bodyArea #left {
	width: 580px;
	margin-right: auto;
	margin-left: 10px;
	float: left;
	height: auto;
	margin-top: 50px;
	font-size: 16px;
	color: #000;
}
#wrapper #bodyArea #right {
	width: 380px;
	margin-right: 10px;
	margin-left: auto;
	float: right;
	height: 220px;
	margin-top: 50px;
	background-color: #FFC;
	font-size: 16px;
}
p {
	margin: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #000;
}
#wrapper #title {
	font-size: 24px;
	height: 50px;
	margin-right: auto;
	margin-left: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	clip: rect(auto,auto,auto,auto);
	left: auto;
	right: auto;
	color: #000;
}
#wrapper #navigation {
	width: auto;
	height: 40px;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
}
ul {
	margin-right: 20px;
	margin-left: 40px;
}


